
.row {
    display: table;
  }
  
  .title, .dots, .value {
    display: table-cell;
  }
  
  .title, .value {
    white-space: nowrap;
  }
  
  .table {
    width: 500px;
    margin: 10px;
  }
  
  .dots {
    border-bottom: 1px dotted white;
    width: 100%;
  }
